[Unit]
Description=Consul
Documentation=https://www.consul.io/

[Service]
ExecStart=/usr/local/bin/consul-template -template "/home/ubuntu/refer-arch-aws/aws-nodes/scripts/nginx.conf.ctmpl:/var/nginx/nginx.conf:sudo nginx -s reload"
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

